.tagP{
    background: #FF6060;
    width: 115px;
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.tag{
    display: flex;
    gap: 15px;
}

.tag > p{
    display: flex;
    color : white;
    margin: 10px 0;
    font-size: 14px;
    padding: 5px;
    text-align: center;
}

/*Version Mobile*/

@media screen and (max-width: 767px){
    
    .tagP{
        width: 85px;
        border-radius: 5px;
    }

    .tag >p {
        font-size: 10px;
    }

}

/*Version Tablette*/

@media screen and (min-width: 768px) and (max-width: 992px) {
    
    .tagP{
        width: 100px;
        border-radius: 7px;
    }

    .tag >p {
        font-size: 12px;
    }

}




/*.tags{
    background-color: #FF6060;
    width: 115px;
    height: 25px;
    border-radius: 10px;
}

.tagP{
    font-family: 'Montserrat';
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}


*/