.tagP{
    background: #FF6060;
    width: 100px;
    border-radius: 25px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.tag{
    display: flex;
    gap: 15px;
}

.tag > p{
    display: flex;
    color : white;
    margin: 10px 0;
    font-size: 14px;
    padding: 5px;
    text-align: center;
}


/*.tags{
    background-color: #FF6060;
    width: 115px;
    height: 25px;
    border-radius: 10px;
}

.tagP{
    font-family: 'Montserrat';
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}


*/