.tags{
    background-color: #FF6060;
    width: 115px;
    height: 25px;
    border-radius: 10px;
}

.tagP{
    font-family: 'Montserrat';
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}