h2{
    font-size: 36px;
    color: #FF6060;
}

.Title-Tags h3{
    margin-top: 0;
}

.Title-Tags h2{
    margin-bottom: 0;
}

h3 {
    font-size: 18px;
    color: #FF6060;
}

.Title-Host{
    display: flex;
    justify-content: space-between;
    margin: 0 0 25px 0;
    width: 100%;
}
.Host{
    display: flex;
    flex-direction: column;
}

.host-name-picture{
    display: flex;
    align-items: center;
    margin-top: 25px;
}

.Host-name{
    width: 100px;
    margin-right: 10px;
}

.Host-name p{
    font-size: 18px;
    text-align: end;
    color: #FF6060;
}

.Host-Picture {
    height: 64px;
    width: 64px;
}

.Host-Picture img{
    align-items: center;
    height: 64px;
    width: 64px;
    border-radius: 50%;
}

.number-stars{
    margin-top: 25px;
}

.Part-Dropdown{
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap:25px;
}

/*Version Mobile*/

@media screen and (max-width: 767px){

.Title-Host{
    flex-direction: column;
}

h2{
    font-size: 18px;
}

h3{
    font-size: 14px;
}

.Host-name p{
    font-size: 12px;
}

.Host-Picture{
    height: 32px;
    width: 32px;
}

.Host-Picture img{
    height: 32px;
    width: 32px;
    border-radius: 50%;
}

.Host{
    flex-direction: row-reverse;
    justify-content: space-between;
}

.Host-name{
    width: 80px;
}

.number-stars{
    margin-top: 15px;
}

.Part-Dropdown{
    flex-wrap: wrap;
    gap: 0;
}

}

/*Version Tablette*/

@media screen and (min-width: 768px) and (max-width:992px){


}

/*
section{
    display: flex;
    flex-direction: column;
}

.Dropdown{
    width: 10px;
}

.buttonMenu{
    width: 580px;
}
*/