h2{
    font-size: 36px;
    color: #FF6060;
}

.Title-Tags h3{
    margin-top: 0;
}

.Title-Tags h2{
    margin-bottom: 0;
}

h3, p {
    font-size: 18px;
    color: #FF6060;
}

.Title-Host{
    display: flex;
    justify-content: space-between;
    margin: 0;
    width: 100%;
}
.Host{
    display: flex;
    flex-direction: column;
}

.host-name-picture{
    display: flex;
    align-items: center;
}

.Host-name{
    width: 100px;
    margin-right: 10px;
}

.Host-name p{
    font-size: 18px;
    text-align: end;
}

.Host-Picture {
    height: 64px;
    width: 64px;
}

.Host-Picture img{
    align-items: center;
    height: 64px;
    width: 64px;
    border-radius: 50%;
}

.number-stars{
    margin-top: 30px;
}

.Part-Dropdown{
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap:25px;
}





/*
section{
    display: flex;
    flex-direction: column;
}

.Dropdown{
    width: 10px;
}

.buttonMenu{
    width: 580px;
}
*/