.carte{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #F7F7F7;
    padding-top: 55px;
    border-radius: 25px;
}

.carteImage{
    width: 340px;
    height: 340px;
    border-radius: 25px;
    display: flex;
    margin-bottom: 50px;
    background-size: cover;
    background-position: center;
}

.carteImage p{
    color: white;
    display: flex;
    align-items: flex-end;
    padding: 0 20px 20px 20px;
    margin: 0;
    width: 100%;
    font-size: 18px;
}

.lienLogement{
    text-decoration: none;
}

/*Version Mobile*/

@media screen and (max-width: 767px){
    
    .carteImage{
        width: 100%;
        height: 255px;
        margin-bottom: 20px;
        border-radius: 10px;
    }

    .carte{
        background-color: transparent;
        padding-top: 0;
    }

    .carteImage p{
        width: 100%;
        font-size: 18px;
    }
    
    .lienLogement{
        width: 100%;
    }
    
}

/*Version Tablette*/

@media screen and (min-width: 768px) and (max-width: 992px){

    .carteImage{
        border-radius: 20px;
    }

    .carte{
        background-color: transparent;
        padding-top: 0;
    }

}

