.header{
    position: absolute;
    display: flex;
    max-width: 1240px;
    height: 68px;
    left: 100px;
    right: 100px;
    top: 40px;
}

.liens{
   display: flex;
   justify-content: flex-end;
   align-items: center;
   position: absolute;
   right: 0;
   top: 25%;
   bottom: 25%;
   
}

.text-lien-accueil{
    position: absolute;
    margin-right: 173px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    color: #FF6060;
    text-decoration: none;
}

.text-lien-a-propos{
    font-family: 'Montserrat';
    font-size: 24px;
    line-height: 34.22px;
    padding-right: 0;
    color: #FF6060; 
    text-decoration: none;
}

.liens a:hover{
    text-decoration-line: underline;
}
