footer {
    background: black;
    padding: 25px;
    margin-top: 20px;
    text-align: center
}

footer > p {
    color: white;
}

/*Version Mobile*/

@media screen and (max-width: 767px) {
    footer{
        margin-top: 0;
    }
}