.error{
    text-align: center;
}

/*Oups ! La page que vous demandez n'existe pas */
.text-error{
    font-size: 36px;
    color: #FF6060;
    margin-bottom:160px;
}

/*Retourner sur la page d'accueil*/
.text-retour-accueil{
    font-size: 18px;
    color: #FF6060;
    top: 839px;
    left: 578px;
}