/*.banner {
    align-items: center;
    display: flex;
    width: 100%;
    flex-direction: column;
}

.cartBanner {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../../assets/img-home.jpg');
    margin: 2rem 0 3rem 0;
    width: 100%;
    border-radius: 25px;
    background-repeat: no-repeat;
    background-position: center;
}

.textBanner {
    font-size: 48px;
    color: white;
    width: 100%;
    height: 250px;
    background-color: #0000004d;
    background: #000000;
    mix-blend-mode: darken;
    opacity: 0.3;
    object-fit: cover;
    display: flex;
    justify-content: center;
    margin: 0;
    align-items: center;
    border-radius: 25px;
}

*/

.banner {
    padding:15px 0 15px 0;
    width: 100%;
}
.cartBanner{
    display: flex;
    align-items: center;
    justify-content: center;
}
   
.textBanner{
    background-image: url('../../assets/img-home.jpg');
    font-size: 28px;
    height: 111px;
    margin: 0 auto;
    color: white;
    display: flex;
    width: 100%;
    height: 200px;
    background-position: center;
    object-fit: cover;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    background-size: cover;
    background-color: #0000004d;
    background-blend-mode: darken;
    padding-left:16px;
}

/*Version Mobile*/

@media screen and (max-width: 767px){
    .textBanner{
        height: 110px;
        border-radius: 10px;
        font-size: 24px;
    }

    .cartBanner{
        margin: 2rem 0 1.5rem 0;
    }

   
}

/*Version Tablette*/
@media screen and (min-width: 768px) and (max-width:992px){
    .textBanner{
        font-size: 36px;
        border-radius: 15px;
    }
}


.titi {
    padding:15px 0 15px 0;
    width: 100%;
}
.tutu{
    display: flex;
    align-items: center;
    justify-content: center;
}
   
.toto{
    background-image: url('../../assets/img-home.jpg');
    font-size: 28px;
    height: 111px;
    margin: 0 auto;
    color: white;
    display: flex;
    width: 100%;
    height: 200px;
    background-position: center;
    object-fit: cover;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    background-size: cover;
    background-color: #0000004d;
    background-blend-mode: darken;
    padding-left:16px;
}